In [1]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_excel("D:\corona-virus-pakistan-dataset-2020_2\COVID_FINAL_DATA.xlsx","TimeSeries_Action_Screen")

In [4]:
df

,Date,Cumulative travelers Screened,Suspected at Points of Entry,Travelers Screened at Points ofEntry in last 24 hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676
5,16-Mar-2020,975634,74,20988
6,17-Mar-2020,995821,95,20187
7,18-Mar-2020,1015909,115,20088
8,19-Mar-2020,1033884,151,17975
9,20-Mar-2020,1049282,170,15398
10,21-Mar-2020,1063193,186,13911
11,22-Mar-2020,1077632,202,14439
12,23-Mar-2020,1089933,217,12301
13,24-Mar-2020,1102234,232,12301
14,25-Mar-2020,1102383,234,149
15,26-Mar-2020,1102383,234,0
16,27-Mar-2020,1102383,234,0
17,28-Mar-2020,1102383,234,0
18,29-Mar-2020,1102383,234,0
19,2020-03-30 00:00:00,1102562,234,0
20,2020-03-31 00:00:00,1102562,234,0
21,2020-04-01 00:00:00,1102562,234,0
22,2020-04-02 00:00:00,1102562,234,0
23,2020-04-03 00:00:00,1102562,234,0

In [12]:
df.rename(columns={"Cumulative travelers Screened":"Cumulative_travelers_Screened","Suspected at Points of Entry":"Suspected_at_Points_of_Entry","Travelers Screened at Points ofEntry in last 24 hours":"Travelers_Screened_at_Points_of_Entry_in_last_24 _hours"},inplace=True)

In [13]:
df

,Date,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24 _hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676
5,16-Mar-2020,975634,74,20988
6,17-Mar-2020,995821,95,20187
7,18-Mar-2020,1015909,115,20088
8,19-Mar-2020,1033884,151,17975
9,20-Mar-2020,1049282,170,15398
10,21-Mar-2020,1063193,186,13911
11,22-Mar-2020,1077632,202,14439
12,23-Mar-2020,1089933,217,12301
13,24-Mar-2020,1102234,232,12301
14,25-Mar-2020,1102383,234,149
15,26-Mar-2020,1102383,234,0
16,27-Mar-2020,1102383,234,0
17,28-Mar-2020,1102383,234,0
18,29-Mar-2020,1102383,234,0
19,2020-03-30 00:00:00,1102562,234,0
20,2020-03-31 00:00:00,1102562,234,0
21,2020-04-01 00:00:00,1102562,234,0
22,2020-04-02 00:00:00,1102562,234,0
23,2020-04-03 00:00:00,1102562,234,0

In [14]:
df.columns

Index(['Date', 'Cumulative_travelers_Screened', 'Suspected_at_Points_of_Entry',
       'Travelers_Screened_at_Points_of_Entry_in_last_24 _hours'],
      dtype='object')

In [34]:
df.replace(np.nan,0,inplace=True)

In [35]:
df

,Date,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24 _hours
0,11-Mar-2020,873288,26,21102.0
1,12-Mar-2020,894256,29,20968.0
2,13-Mar-2020,913542,33,19286.0
3,14-Mar-2020,933970,43,20428.0
4,15-Mar-2020,954646,59,20676.0
5,16-Mar-2020,975634,74,20988.0
6,17-Mar-2020,995821,95,20187.0
7,18-Mar-2020,1015909,115,20088.0
8,19-Mar-2020,1033884,151,17975.0
9,20-Mar-2020,1049282,170,15398.0
10,21-Mar-2020,1063193,186,13911.0
11,22-Mar-2020,1077632,202,14439.0
12,23-Mar-2020,1089933,217,12301.0
13,24-Mar-2020,1102234,232,12301.0
14,25-Mar-2020,1102383,234,149.0
15,26-Mar-2020,1102383,234,0.0
16,27-Mar-2020,1102383,234,0.0
17,28-Mar-2020,1102383,234,0.0
18,29-Mar-2020,1102383,234,0.0
19,2020-03-30 00:00:00,1102562,234,0.0
20,2020-03-31 00:00:00,1102562,234,0.0
21,2020-04-01 00:00:00,1102562,234,0.0
22,2020-04-02 00:00:00,1102562,234,0.0
23,2020-04-03 00:00:00,1102562,234,0.0

In [38]:
df.isnull().sum()

Date                                                       0
Cumulative_travelers_Screened                              0
Suspected_at_Points_of_Entry                               0
Travelers_Screened_at_Points_of_Entry_in_last_24 _hours    0
dtype: int64

In [39]:
df['Date']=pd.to_datetime(df.Date)

In [40]:
df['Date']

0    2020-03-11
1    2020-03-12
2    2020-03-13
3    2020-03-14
4    2020-03-15
5    2020-03-16
6    2020-03-17
7    2020-03-18
8    2020-03-19
9    2020-03-20
10   2020-03-21
11   2020-03-22
12   2020-03-23
13   2020-03-24
14   2020-03-25
15   2020-03-26
16   2020-03-27
17   2020-03-28
18   2020-03-29
19   2020-03-30
20   2020-03-31
21   2020-04-01
22   2020-04-02
23   2020-04-03
Name: Date, dtype: datetime64[ns]

In [41]:
df.index

RangeIndex(start=0, stop=24, step=1)

In [42]:
df.columns=df.columns.str.strip().str.replace(' ','_')

In [46]:
df.head()

,Date,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24__hours
0,2020-03-11,873288,26,21102.0
1,2020-03-12,894256,29,20968.0
2,2020-03-13,913542,33,19286.0
3,2020-03-14,933970,43,20428.0
4,2020-03-15,954646,59,20676.0

In [47]:
df.dtypes

Date                                                       datetime64[ns]
Cumulative_travelers_Screened                                       int64
Suspected_at_Points_of_Entry                                        int64
Travelers_Screened_at_Points_of_Entry_in_last_24__hours           float64
dtype: object

In [50]:
df['Travelers_Screened_at_Points_of_Entry_in_last_24__hours']=df['Travelers_Screened_at_Points_of_Entry_in_last_24__hours'].apply(np.int64)

In [51]:
df.dtypes

Date                                                       datetime64[ns]
Cumulative_travelers_Screened                                       int64
Suspected_at_Points_of_Entry                                        int64
Travelers_Screened_at_Points_of_Entry_in_last_24__hours             int64
dtype: object

In [52]:
df.head()

,Date,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24__hours
0,2020-03-11,873288,26,21102
1,2020-03-12,894256,29,20968
2,2020-03-13,913542,33,19286
3,2020-03-14,933970,43,20428
4,2020-03-15,954646,59,20676

In [53]:
df.describe() # data is cleaned

,Cumulative_travelers_Screened,Suspected_at_Points_of_Entry,Travelers_Screened_at_Points_of_Entry_in_last_24__hours
count,2.400000e+01,24.00000,24.000000
mean,1.041581e+06,165.50000,10424.875000
std,7.735881e+04,81.79242,9347.910403
min,8.732880e+05,26.00000,0.000000
25%,9.907742e+05,89.75000,0.000000
50%,1.083782e+06,209.50000,13106.000000
75%,1.102383e+06,234.00000,20112.750000
max,1.102562e+06,234.00000,21102.000000

In [54]:
df.to_excel("D:\TimeSeries_Action_Screen.xlsx")